body{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1,h2,h3{
    font-family: 'MedievalSharp', cursive;
}
header, footer{
    background-image: url(../images/bg-baniere.jpg);
    background-position: center;
    background-size: contain;
}
/* #imgAccueilRipaille{
    background-image: url(../images/ck3_banquet.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */